#### for i in a 면  a읜 변수들을 i에 넣어주는 것

In [19]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [1]:
a = [1, 4, 3, 4]
for i in a:
    print(i)

1
4
3
4

#### len(a)는 a list의 개수이다. 그리고 range(a)를 하면 range(0,a)가 나오는데 이건 0이상 a미만의 숫자란 뜻 
#### range(len(a))는 = range(4) = range(0,4) =0,1,2,3
#### +1하니까 1234가나옴

In [4]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(i+1)

1
2
3
4

In [5]:
len(a)

4

In [12]:
a = [1, 3, 3,6]

In [13]:
range(len(a))

range(0, 4)

In [15]:
a = [51,5,7, 3, 3,6]

In [16]:
len(a)

6

In [17]:
range(len(a))

range(0, 6)

In [18]:
for i in range(len(a)):
    print(i+1)

1
2
3
4
5
6

In [21]:
range(8)

range(0, 8)

In [3]:
a = [1, 4, 5, 6]
for i in range(len(a)):
    print(i+1)

1
2
3
4

In [22]:
a = [1, 4, 5, 6, 3]
for i in range(len(a)):
    print(i+2)

2
3
4
5
6

#### 위에와 마찬가지로 i 에 a의 변수들인 red green 등이 들어간다.

In [23]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [29]:
a = [1,4,'red', 'green', 'blue', 'purple',(7),'8',[8,10]]
for i in a:
    print(i)

1
4
red
green
blue
purple
7
8
[8, 10]

#### 위에 for i in range(len(a)) 와 동일하다. len (a)는 변수 개수이므로 4다 range(4)는 0,1,2,3이다 떄문에 a[i]=a[0,1,2,3]이므로 각자에 대응하는 index들이 결과값으로 나온다.

In [31]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [32]:
len(a)

4

In [33]:
range(len(a))

range(0, 4)

In [44]:
print(range(len(a)))

range(0, 4)

In [41]:
for i in range(len(a)):
    print(i)

0
1
2
3

In [43]:
   print(a)

['red', 'green', 'blue', 'purple']

In [47]:
a = ['red', 'green',2,[3,4,5], 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
2
[3, 4, 5]
blue
purple

In [49]:
range(len(a))

range(0, 6)

#### list a,b 를 페어로 가정했을 때 enumerate는 둘을 나란히 순서대로 나열해주는 기능이 있다.

In [51]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a in enumerate(a):
    print("{}: {}%".format(a, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [4]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1]
for i in range(len(a)):
    print("{}: {}%".format(a, b[i]*100))

['red', 'green', 'blue', 'purple']: 20.0%
['red', 'green', 'blue', 'purple']: 30.0%
['red', 'green', 'blue', 'purple']: 10.0%

IndexError: list index out of range

In [57]:
enumerate(a)

####

#### 위의 enumerate와 유사하지만 zip은 a,b 리스트의 숫자가 맞지 않아도 나란히 나열해줄 수가 있다.

In [1]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [3]:
a = ["red", "green", "blue"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%

#### =는 변수 ==는 수학에서의 equal이다 if a==0이면 print(a) 인데 위에서 a변수를 0으로 설정했으니 print(a)=0 이 나온다.
#### else는 if외의 다른 경우일 때 인데 이 경우엔 a변수는 0 뿐이니 print(a+1)은 나오지 않는다.

In [67]:
a = 0
if a == 0:
    print(a)
else:
     print(a+1)

0

#### range (1,3)은 1이상 3미만이기 때문에 1,2 이다 range (3,5)는 3,4이다 for 루프니까 각각의 경우를 곱하면 1x3,1x5,2x3,2x5이다

In [68]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [69]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i+j)

4
5
5
6

In [70]:
for i in range(3):
    for j in range(5):
        print(i*j)

0
0
0
0
0
0
1
2
3
4
0
2
4
6
8

#### range는 위와 마찬가지로 1,2 와 3,4이지만 if 조건이 추가됐다. j가 4보다 크거나 같은 경우에만 print(i*j)를 해주면 된다.  tab을 치는 이유는 for loop가 끝났다고 설정하는 것이다.

In [71]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [76]:
for i in range(1, 3):
for j in range(3, 5):
if j >=4:
            print(i*j)

IndentationError: expected an indented block (<ipython-input-76-f3b00eb80184>, line 2)

In [74]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=0:
            print(i*j)

3
4
6
8

#### a의 변수가 2이상 일때만 i에 들어가진다.

In [77]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

#### if len(i) >=4  이 조건은 a의 변수 문자들의 길이가 4 이상일때만 i에 들어가진다. 여기서 길이란 단어의 길이다.

In [78]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

In [79]:
len(a)

4

In [81]:
a = ['red', 'green', 'blue', 'purple']
b = [x for x in a if len(x) >=4]
b

['green', 'blue', 'purple']

In [82]:
a = ['red', 'green', 'blue', 'purple','orange','pineapple','pie']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple', 'orange', 'pineapple']

In [83]:
a = ['red', 'en', 'bue', 'purple']
b = [x for x in a if len(x) >=4]
b

['purple']